// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2023, Leandro Friedrich <email@leandrofriedrich.de>
 */

/dts-v1/;
#include "exynos9820.dtsi"

/ {
	model = "Samsung Galaxy Note10+";
	compatible = "samsung,d2s", "samsung,exynos9820";
	
	#address-cells = <2>;
	#size-cells = <2>;
	
	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		stdout-path = "/chosen/framebuffer@0xca000000";
		framebuffer@0xca000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xca000000 0x0 (1440*3040*4)>;
			width = <1440>;
			height = <3040>;
			stride = <(1440*4)>;
			format = "a8r8g8b8";
		};
	};
	
	memory@80000000 {
                device_type = "memory";
                reg = <0x00 0x80000000 0x8000000>;
        };

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		framebuffer@0xca000000 {
			reg = <0x0 0xca000000 0x0 (1440*3040*4)>;
			no-map;
		};
	};
};
